name: Firmware CI

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  firmware-build:
    name: Firmware Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio-${{ hashFiles('**/platformio.ini') }}

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build (PlatformIO)
        run: pio run
        working-directory: firmware

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-build
          path: |
            firmware/.pio/build/**/firmware.*
